.container {
  margin: auto auto 0px auto !important;
  padding: 0px;
  max-width: 650px;
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
html, body {
  background-color: black !important;
}

.header-section {
  margin: auto auto 0px auto;
  background-image: url("https://images-assets.nasa.gov/image/PIA20498/PIA20498~orig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.header-frame {
  max-width: 350px;
  color: aliceblue;
}


h1 {
  color: aliceblue;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: var(--gray);
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

.img-frame #propic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;

}

.img-frame {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;

}

.card-img-top {
  max-width: 155px !important;
  max-height: 155px !important;
}

.card {
  width: 15rem;
}